nav {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
header {
    overflow: hidden;
    margin-top: auto;
    padding: 0;
    /* color:black;  */
    text-align: center;
}

header h1 {
    font-family: "Papyrus";
    font-size: 86px;
    /* color: white;
  mix-blend-mode: difference;
  filter: drop-shadow(.05em .05em red); */
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
header h2, h3, h4 {
    font-family: "Calibri";
    font-size: 25px;
    font-style: "bold";
    /* color: white;
  mix-blend-mode: difference;
  filter: drop-shadow(.05em .05em red); */
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.site-footer {
    background-color: transparent;
    padding: 40px 0;
    text-align: center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#image2, #image3, #image4 {
    box-shadow: 10px 5px 5px black;
}

#appt {
    padding: 40px;
}

#imageRow {
    padding: 80px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}

.modal-backdrop {
    z-index: -1;
  }

#appointmentModal .modal-header, #memberLoginmodal .modal-header, #teamjoinModal .modal-header {
    background-color: rgb(62, 123, 138);
    color: white; }
